/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: var(--light-text-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

/* Class Styling */
.flexy{
    color: var(--light-text-color);
    font-weight: 500;
}

/* Id Styling */
#content{
    padding: 12px;
}
#header{
    text-align: center;
    margin: 12px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}
#text{
    color: var(--light-text-color);
    font-weight: 500;
}
#notesHeader{
    opacity: .7;
    text-align: center;
}
#sectionStyles{
    display: flex;
    flex-wrap: wrap;
}
#stylingStuff{
    padding: 0 12px;
    display: flex;
    margin: auto;
}