::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: white !important;
}
::-webkit-scrollbar-thumb {
    background: white !important;
}
::-webkit-scrollbar-thumb:hover {
    background: white !important;
}
.section-title {
    padding-left: 14px;
}
/* My Courses Section */
.course-card {
    background-color: #CCD884;
    margin: 6px 14px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0px 5px 4px #f0f0f0;
}
.course-card * {
    color: black;
}
.card-photo {
    min-height: 140px;
    min-width: 225px;
    width: 100%;
    border-radius: 25px;
}
.card-img {
    width: 100%;
    height: 100%;
}
.card-text {
    padding: 6px 12px;
    height: 75px;
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
    line-height: 130%;
}
.empty-card {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    margin: 24px 14px 0 14px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0px 5px 4px #f0f0f0;
}
/* Starred File Section */
.note-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 50px;
    padding: 12px;
}
.note-preview {
    min-width: 225px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.note-information {
    height: 60px;
    width: 100%;
    padding: 6px;
    color: var(--text-color);
    text-align: center;
    background: var(--main-color);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    line-height: 120%;
}
.note-img {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    opacity: .7;
    border-radius: 25px;
}
a {
    text-decoration: none;
}