/* Tag Styling */
form, .center {
    border: 2px solid #d4d4d4;
    width: 400px;
    padding: 12px;
    margin: auto auto 24px auto;
    border-radius: 20px;
}
input, select {
    max-width: 400px;
}
h1{
    text-align: center;
}

/* Class Styling */
.form-item {
    margin: 24px auto;
}
.extras{
    display: flex;
    flex-direction: column;
}
.flexy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.courseLink{
    color: var(--light-text-color);
}
.labelMargin{
    margin-bottom: 4px;
}

/* Id Styling */
#courseText {
    font-style: italic;
    text-align: center;
}
#current-resource-display {
    border: 1px solid grey;
    max-height: 300px;
    overflow-x: scroll;
}