form {
    border: 2px solid #d4d4d4;
    width: 400px; padding: 12px;
    margin: auto auto 24px auto;
    border-radius: 20px;
}

input, select {
    max-width: 400px;
}

#current-resource-display {
    border: 1px solid grey;
    max-height: 300px;
    overflow-x: scroll;
}