/* Global Variables */
:root {
    --text-color: #2e2e2e;
    --light-text-color: #757575;
    --main-color: #ffc31f;
}

/* Global Tag Styling */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 1rem 0 !important;
}
footer {
    background-color: var(--light-text-color);
    color: white;
    padding: 20px 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}

/* Global Classes */
.light-text {
    color: var(--light-text-color);
}
.link {
    color: var(--main-color);
}
.navigation a {
    text-decoration: none;
}
.auto-margin {
    margin: auto;
}
.toggle-star button {
    border: none;
    background: none;
}
.toggle-star {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Ids */
#logo {
    user-select: none;
}
#logo a {
    text-decoration: none;
}
#logo a, .account-links a {
    color: white !important;
}
#layout {
    flex: 1;
}