#topBar {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    background-color: var(--main-color);
}

#quote {
    text-align: center;
    font-size: 30px;
    padding: 40px 0;
}

#button {
    display: flex;
    justify-content: center;
}

button {
    font-size: 45px;
    cursor: pointer;
    background-color: var(--main-color);
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
}