::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: var(--light-text-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}
.form-item {
    margin: 12px 0;
}
.form-input {
    margin: 6px 0;
    border: 1px solid darkgray;
}
.hidden {
    display: none;
}
#sidebar {
    width: 235px;
    height: 100vh;
    background: #f2f2f2;
    padding: 12px;
    color: var(--text-color);
    min-width: fit-content;
    position: fixed;
    left: 0;
    overflow-x: scroll;
    transform: translateX(-100%);
    transition: transform .5s;
    box-shadow: 0 0 5px gray;
}
#click-off {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
a {
    text-decoration: none;
}